body {
  background: rgba(255, 214, 247, 0.84);
  color: rgb(252, 64, 239);
}

h1 {
  color: purple;
  text-align: center;
  font-family: 'Raleway';
  font-size: 42px;
}

address {
  color: rgb(252, 64, 239);
  text-align: center;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

h2 {
  color: purple;
  font-family: 'Raleway';
  font-size: 26px;
}

strong {
  color: red;
}

em {
  color: red;
}

b {
  color: rgb(178, 91, 255);
  font-size: 14px;
}
