body {
  background: pink;
  color: white;
}

h1 {
  color: purple;
  text-align: center;
}

address {
  color: white;
  text-align: center;
}

a {
  color: white;
}

h2 {
  color: purple;
}

strong {
  color: red;
}

em {
  color: red;
}
