body {
  /* background: rgba(255, 214, 247, 0.84); */
  background: white;
  /* color: rgb(252, 64, 239); */
  color: black;
  font-family: 'Roboto', sans-serif;
}

a {
  /* color: purple; */
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h2 {
  color: purple;
  font-family: 'Raleway';
  font-size: 26px;
}

ul {
  margin-top: 5px;
}

em {
  /* color: red; */
  color: black;
}

b {
  /* color: rgb(178, 91, 255); */
  color: black;
  font-size: 14px;
}


#name {
  color: purple;
  text-align: center;
  font-family: 'Raleway';
  font-size: 42px;
  text-shadow: 1px 1px 0 #000;
}

#address {
  /* color: rgb(252, 64, 239); */
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.year {
  /* color: purple; */
  color: black;
}

.company, .state {
  /* color: red; */
  color: black;
}

.company {
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
}

.final {
 margin-bottom: 100px;
}





.header-container {

  grid-area: header;
  background: rgb(0, 0, 0);
  /* background: rgb(255, 255, 255); */
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  /* text-shadow: 2px 2px 0 #000; */
  background-image: url('../images/star.svg'), url('../images/star.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 10px,  99%;
}

  nav ul {
    list-style: none;
    margin: auto;
    width: 600px;
  }

  nav ul li {
    /* background: pink; */
    width: 100px;
    display: inline-block;
    padding: 20px;
  }

  nav ul li:hover {
    background: pink;
  }


  nav a {
    color: #fff;
    text-decoration: none;
  }

}
