h1 {
color: rgb(252, 64, 239);
text-align: center;
font-size: 42px;
font-family: 'Roboto', sans-serif;
text-shadow: 2px 2px 0 #000;
}

body {
  background: rgba(255, 214, 247, 0.84);
}

#photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  column-gap:           0px;
  }

#photos img {
  width: 100%;
  height: auto;
  margin: auto;
}
